.Sprite{
  &-youtube {
    width: 512px; height: 512px;
    background: url("https://i.imgur.com/16lAPhA.png") -10px -10px;
}
&-news {
  width: 512px; height: 512px;
  background: url("https://i.imgur.com/16lAPhA.png") -1074px -10px;
}

&-chat {
    width: 512px; height: 512px;
    background: url("https://i.imgur.com/16lAPhA.png") -542px -10px;
}

&-market {
    width: 512px; height: 512px;
    background: url("https://i.imgur.com/16lAPhA.png") -10px -542px;
}

&-messenger {
    width: 512px; height: 512px;
    background: url("https://i.imgur.com/16lAPhA.png") -542px -542px;
}


&-web {
    width: 512px; height: 512px;
    background: url("https://i.imgur.com/16lAPhA.png") -1074px -542px;
}
}